.profile__sec {
    padding: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("../images/BackgroundImages/patterns.png");
    background-position: center;
    background-repeat:repeat;
    margin-bottom: 9rem;
    height: 95vh;
}
.profile__sec h2{
    font-size: 2.6rem;
    margin-top: 2rem;
    padding-bottom: 1rem;

}
.profile__sec-wrapper {
    box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.1);
    padding: .8rem 0rem;
    width: 60%;
    border-radius: 2rem;
    background-color: #fff;
}
.profile__sec-wrapper label {
    font-size: 1.25rem;
    font-weight: 500;
}

.profile__sec-wrapper > form input {
    width: 60%;
    height: 2.6rem;

}
.profile__sec-wrapper > form input::placeholder {
    padding-left: 1rem;
    font-size: 1rem;
}
.profile__sec-wrapper > form > div > * {
    display: block;
}
.profile__sec-wrapper > form > div {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem auto;
    gap: 1rem;
}
.profile__sec-wrapper > form > div:nth-child(5) select {
    width: 60%;
    height: 2.75rem;
}

.btn {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
}
button.edit-pp {
    display: block;
    width: 8rem;
    font-size: 1.2rem;
    font-weight: 400;
    height: 3rem;
    color: white;
    background-color: black;
}
.space-between{
    height: 40vh;
}
@media screen and (max-width:900px){
    .profile__sec h2{
        padding-top: 4rem;
    }
    .profile__sec-wrapper > form > div {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 20px;
        gap: .3rem;
        
    }
    .profile__sec-wrapper input{
        width: 80%;
        display: block;
        margin: auto;

    }
    .profile__sec-wrapper {
        width: 70%;
    }
}
@media screen and (max-width:600px){
    .profile__sec-wrapper {
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    
    .profile__sec-wrapper > form > div {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 20px;
        
    }
    
    
}